<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
                {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/all.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/my-style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% trans_default_domain 'app' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}" ></script>
            <script src="{{ asset('js/popper.min.js') }}" ></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" ></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}" ></script>
            <script src="{{ asset('js/my-style.js') }}" ></script>
        {% endblock %}
    </body>
</html>
